{% if site.ios_app_id %}
{% assign locale_config = site.data.locales %}
{% assign default_locale_code = locale_config.default_locale | default: "en" %}
{% assign supported_locales = locale_config.locales %}
{% assign current_lang_raw = page.lang | default: default_locale_code %}
{% assign current_lang = current_lang_raw %}
{% unless supported_locales[current_lang] %}
{% for locale_item in supported_locales %}
{% assign locale_code = locale_item[0] %}
{% assign locale_data = locale_item[1] %}
{% if locale_data.bcp47 == current_lang_raw %}
{% assign current_lang = locale_code %}
{% break %}
{% endif %}
{% endfor %}
{% endunless %}
{% assign current_locale = supported_locales[current_lang] | default: supported_locales[default_locale_code] %}
{% assign preferred_country = current_locale.itunes_country | default: site.ios_app_country | default: "us" %}
{% assign fallback_country = site.ios_app_country | default: preferred_country %}

<script>
$(function() {
    var preferredCountry = "{{ preferred_country }}";
    var fallbackCountry = "{{ fallback_country }}";
    var hasExplicitPageTitle = {{ page.page_title | default: "" | jsonify }}.trim().length > 0;

    function lookupURL(countryCode) {
        return "https://itunes.apple.com/lookup?id={{ site.ios_app_id }}&country=" + encodeURIComponent(countryCode) + "&callback=?";
    }

    function prefersApi($element) {
        return String($element.data("preferApi")) === "true";
    }

    function normalized(value) {
        return (value || "").toString().trim();
    }

    function shouldFillText($element) {
        return prefersApi($element) || normalized($element.text()).length === 0;
    }

    function shouldFillAttr($element, attributeName) {
        return prefersApi($element) || normalized($element.attr(attributeName)).length === 0;
    }

    function firstResult(json) {
        if (json && json.results && json.results.length) {
            return json.results[0];
        }
        return null;
    }

    function applyAppInfo(appInfo) {
        if (appInfo.artworkUrl512) {
            $('link[rel="shortcut icon"]').attr("href", appInfo.artworkUrl512);
        }

        var $pageTitle = $(".pageTitle");
        if (appInfo.trackName && !hasExplicitPageTitle && shouldFillText($pageTitle)) {
            $pageTitle.text(appInfo.trackName);
        }

        var $appIconLarge = $(".appIconLarge");
        if (appInfo.artworkUrl512 && shouldFillAttr($appIconLarge, "src")) {
            $appIconLarge.attr("src", appInfo.artworkUrl512);
        }

        var $appIconHeader = $(".headerIcon");
        if (appInfo.artworkUrl512 && shouldFillAttr($appIconHeader, "src")) {
            $appIconHeader.attr("src", appInfo.artworkUrl512);
        }

        var $appName = $(".appName");
        if (appInfo.trackName && shouldFillText($appName)) {
            $appName.text(appInfo.trackName);
        }

        var $headerName = $(".headerName");
        if (appInfo.trackName && shouldFillText($headerName)) {
            $headerName.text(appInfo.trackName);
        }

        var $appStoreLink = $(".appStoreLink");
        if (appInfo.trackViewUrl && shouldFillAttr($appStoreLink, "href")) {
            $appStoreLink.attr("href", appInfo.trackViewUrl);
        }
    }

    function requestCountry(countryCode) {
        return $.getJSON(lookupURL(countryCode));
    }

    function loadFallbackIfNeeded() {
        if (fallbackCountry && fallbackCountry !== preferredCountry) {
            requestCountry(fallbackCountry).done(function(fallbackJson) {
                var fallbackInfo = firstResult(fallbackJson);
                if (fallbackInfo) {
                    applyAppInfo(fallbackInfo);
                }
            });
        }
    }

    requestCountry(preferredCountry)
        .done(function(json) {
            var appInfo = firstResult(json);
            if (appInfo) {
                applyAppInfo(appInfo);
                return;
            }
            loadFallbackIfNeeded();
        })
        .fail(function() {
            loadFallbackIfNeeded();
        });
});

</script>

{% endif %}
