{% assign locale_config = site.data.locales %}
{% assign default_locale_code = locale_config.default_locale | default: "en" %}
{% assign supported_locales = locale_config.locales %}
{% assign footer_lang_raw = page.lang | default: default_locale_code %}
{% assign footer_lang = footer_lang_raw %}
{% unless supported_locales[footer_lang] %}
	{% for locale_item in supported_locales %}
		{% assign locale_code = locale_item[0] %}
		{% assign locale_data = locale_item[1] %}
		{% if locale_data.bcp47 == footer_lang_raw %}
			{% assign footer_lang = locale_code %}
			{% break %}
		{% endif %}
	{% endfor %}
{% endunless %}
{% assign footer_i18n = site.data.i18n[footer_lang].footer | default: site.data.i18n[default_locale_code].footer %}
{% assign privacy_link = "/" %}
{% assign terms_link = "/" %}
{% assign imprint_link = "/" %}
{% assign footer_translation_keys = "privacypolicy,termsofservice,imprint" | split: "," %}
{% for footer_key in footer_translation_keys %}
	{% assign footer_candidates = site.pages | where: "translation_key", footer_key | where: "lang", footer_lang %}
	{% if footer_candidates.size == 0 %}
		{% assign footer_candidates = site.html_pages | where: "translation_key", footer_key | where: "lang", footer_lang %}
	{% endif %}
	{% assign footer_target = footer_candidates | first %}
	{% unless footer_target %}
		{% assign footer_fallback_candidates = site.pages | where: "translation_key", footer_key | where: "lang", default_locale_code %}
		{% if footer_fallback_candidates.size == 0 %}
			{% assign footer_fallback_candidates = site.html_pages | where: "translation_key", footer_key | where: "lang", default_locale_code %}
		{% endif %}
		{% assign footer_target = footer_fallback_candidates | first %}
	{% endunless %}
	{% unless footer_target %}
		{% assign footer_any_candidates = site.pages | where: "translation_key", footer_key %}
		{% if footer_any_candidates.size == 0 %}
			{% assign footer_any_candidates = site.html_pages | where: "translation_key", footer_key %}
		{% endif %}
		{% assign footer_target = footer_any_candidates | first %}
	{% endunless %}
	{% if footer_target %}
		{% if footer_key == "privacypolicy" %}
			{% assign privacy_link = footer_target.url %}
		{% elsif footer_key == "termsofservice" %}
			{% assign terms_link = footer_target.url %}
		{% elsif footer_key == "imprint" %}
			{% assign imprint_link = footer_target.url %}
		{% endif %}
	{% endif %}
{% endfor %}
<footer>
	{% if site.your_name %}
	<p class="footerText">{{ footer_i18n.built_by | default: "Entwickelt von" }} {% if site.your_link %}<a href="{{ site.your_link }}" target="_blank" rel="noopener noreferrer">{% endif %}{{ site.your_name }}{% if site.your_link %}</a>{% endif %}{% if site.your_city %} in {{ site.your_city }}{% endif %}</p>
	{% endif %}
	<div class="footerIcons">

		{% if site.linkedin_username %}
			<a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener noreferrer">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-linkedin fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.linkedin_company %}
			<a href="https://linkedin.com/company/{{ site.linkedin_company }}" target="_blank" rel="noopener noreferrer">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-linkedin fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.facebook_username %}
			<a href="https://facebook.com/{{ site.facebook_username }}" target="_blank" rel="noopener noreferrer">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-facebook fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.twitter_username %}
			<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.instagram_username %}
			<a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" rel="noopener noreferrer">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-instagram fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.mastodon_link %}
			<a rel="me noopener noreferrer" href="{{ site.mastodon_link }}" target="_blank">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-mastodon fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.github_username %}
			<a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-github fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.email_address %}
			<a href="mailto:{{ site.email_address }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

	</div>
	<div class="footerLinks">
		<a href="{{ privacy_link | relative_url }}">{{ footer_i18n.privacy | default: "Datenschutzerklärung" }}</a>
		<a href="{{ terms_link | relative_url }}">{{ footer_i18n.terms | default: "AGB" }}</a>
		<a href="{{ imprint_link | relative_url }}">{{ footer_i18n.imprint | default: "Impressum" }}</a>
	</div>
</footer>
