{% assign locale_config = site.data.locales %}
{% assign default_locale_code = locale_config.default_locale | default: "en" %}
{% assign supported_locales = locale_config.locales %}
{% assign locale_order = locale_config.order %}
{% assign header_lang_raw = page.lang | default: default_locale_code %}
{% assign header_lang = header_lang_raw %}
{% unless supported_locales[header_lang] %}
	{% for locale_item in supported_locales %}
		{% assign locale_code = locale_item[0] %}
		{% assign locale_data = locale_item[1] %}
		{% if locale_data.bcp47 == header_lang_raw %}
			{% assign header_lang = locale_code %}
			{% break %}
		{% endif %}
	{% endfor %}
{% endunless %}
{% assign current_locale = supported_locales[header_lang] | default: supported_locales[default_locale_code] %}
{% assign header_texts = site.data.i18n[header_lang] | default: site.data.i18n[default_locale_code] %}
{% assign home_url = "/" %}
{% assign current_prefix = current_locale.path_prefix | default: "" %}
{% if current_prefix != "" and current_prefix != "/" %}
	{% assign home_url = current_prefix | append: "/" %}
{% endif %}
{% assign header_pages = site.pages | where: "include_in_header", true | where: "lang", header_lang %}
{% assign nav_class = "scroll" %}
{% if header_pages.size == 0 %}
	{% assign nav_class = "scroll languageOnly" %}
{% endif %}
<header>
	<div class="logo">
		<div class="appIconShadow">
			<svg width="0" height="0">
				<defs>
					<clipPath id="shape">
							<path id="shape" class="cls-1" d="M6181.23,233.709v-1.792c0-.5-0.02-1-0.02-1.523a24.257,24.257,0,0,0-.28-3.3,11.207,11.207,0,0,0-1.04-3.132,10.683,10.683,0,0,0-1.95-2.679,10.384,10.384,0,0,0-2.68-1.943,10.806,10.806,0,0,0-3.13-1.038,19.588,19.588,0,0,0-3.3-.285c-0.5-.017-1-0.017-1.52-0.017h-22.39c-0.51,0-1.01.017-1.53,0.017a24.041,24.041,0,0,0-3.3.285,11.009,11.009,0,0,0-3.13,1.038,10.491,10.491,0,0,0-4.62,4.622,10.893,10.893,0,0,0-1.04,3.132,19.2,19.2,0,0,0-.28,3.3c-0.02.5-.02,1-0.02,1.523v22.392c0,0.5.02,1,.02,1.524a24.257,24.257,0,0,0,.28,3.3,10.9,10.9,0,0,0,1.04,3.132,10.491,10.491,0,0,0,4.62,4.622,11.04,11.04,0,0,0,3.13,1.038,19.891,19.891,0,0,0,3.3.285c0.51,0.017,1.01.017,1.53,0.017h22.39c0.5,0,1-.017,1.52-0.017a24.221,24.221,0,0,0,3.3-.285,10.836,10.836,0,0,0,3.13-1.038,10.408,10.408,0,0,0,2.68-1.943,10.683,10.683,0,0,0,1.95-2.679,11.217,11.217,0,0,0,1.04-3.132,20.257,20.257,0,0,0,.28-3.3c0.02-.5.02-1,0.02-1.524v-20.6h0Z" transform="translate(-6131 -218)"/>
					</clipPath>
				</defs>
			</svg>
			{% if page.url != home_url %}
				<a href="{{ home_url | relative_url }}"><img class="headerIcon" src="{{ site.app_icon | relative_url }}" alt="{{ header_texts.app_icon_alt | default: 'App icon' }}" data-prefer-api="true"></a>
			{% else %}
				<img class="headerIcon" src="{{ site.app_icon | relative_url }}" alt="{{ header_texts.app_icon_alt | default: 'App icon' }}" data-prefer-api="true">
			{% endif %}
		</div>
		<p class="headerName">HörBär</p>
	</div>
	<nav class="{{ nav_class }}">
		<ul>
			{% for header_page in header_pages %}
				<li><a {% if header_page.nav_style == "button" %}class="navButtonLink"{% endif %} href="{{ header_page.url | relative_url }}">{{ header_page.title }}</a></li>
			{% endfor %}
			<li class="langSwitchItem">
				<details class="langPicker">
					<summary class="langPickerToggle" aria-label="{{ header_texts.language_picker_aria | default: 'Select language' }}">
						<i class="fas fa-globe langSwitchFlag" aria-hidden="true"></i>
					</summary>
					<div class="langPickerMenu">
						<div class="langPickerTitle">{{ header_texts.language_picker_title | default: "Language" }}</div>
						{% for locale_code in locale_order %}
							{% assign locale_data = supported_locales[locale_code] %}
							{% if locale_data %}
								{% assign locale_url = "/" %}
								{% assign locale_prefix = locale_data.path_prefix | default: "" %}
								{% if locale_prefix != "" and locale_prefix != "/" %}
									{% assign locale_url = locale_prefix | append: "/" %}
								{% endif %}
								{% if page.translation_key %}
									{% assign translation_candidates = site.pages | where: "translation_key", page.translation_key | where: "lang", locale_code %}
									{% if translation_candidates.size == 0 %}
										{% assign translation_candidates = site.html_pages | where: "translation_key", page.translation_key | where: "lang", locale_code %}
									{% endif %}
									{% assign translation_page = translation_candidates | first %}
									{% if translation_page %}
										{% assign locale_url = translation_page.url %}
									{% endif %}
								{% endif %}
								<a class="langPickerOption{% if header_lang == locale_code %} isActive{% endif %}" href="{{ locale_url | relative_url }}?lang={{ locale_code }}"{% if header_lang == locale_code %} aria-current="page"{% endif %}>
									{% if locale_data.switch_flag %}
										<span class="langPickerOptionFlag" aria-hidden="true">{{ locale_data.switch_flag }}</span>
									{% endif %}
									<span>{{ locale_data.native_name | default: locale_code }}</span>
								</a>
							{% endif %}
						{% endfor %}
					</div>
				</details>
			</li>
		</ul>
	</nav>
</header>
